<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name=".NativeSmokeActivity" android:exported="true" />
        <activity android:name=".InputSmokeActivity" android:exported="true" />
        <activity android:name=".JobSmokeActivity" android:exported="true" android:configChanges="orientation|screenSize" />
        <activity android:name=".FeatureSmokeActivity" android:exported="true" />
        <activity android:name=".ViewerCompareSmokeActivity" android:exported="true" />
        <provider android:name=".InputTestProvider"
            android:authorities="dev.alfred.workspace.debug.inputs" android:exported="true"
            android:grantUriPermissions="true" android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
    </application>
</manifest>
